/* Colors */
/* Fonts */
/* Nav */
/* Base */
body {
  background-color: #0D0D0D; }

section {
  position: relative; }

p {
  color: #c2c2c2; }

h1, h2, h3, h4, h5 {
  color: #c2c2c2; }

ul {
  list-style: none; }

.bg-filter::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(16, 8, 6, 0.4); }

.gold {
  color: #9f8b45; }

.container {
  z-index: 99; }

.bg-dark-tr {
  background-color: rgba(9, 9, 9, 0.8); }

.bg-img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 0; }

.bg-video {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden; }
  .bg-video::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(147, 129, 62, 0.5);
    z-index: 1; }
  .bg-video video {
    width: 100%;
    height: auto;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 40%;
    transform: translate(-40%, -50%); }

.spiritus-invictus {
  width: 140px;
  height: auto; }

/* Layout */
.navbar {
  height: 125px;
  z-index: 999; }
  .navbar .navbar-brand {
    margin: 0 20px;
    width: 180px;
    height: auto; }
  .navbar .navbar-collapse {
    justify-content: center; }
  .navbar .navbar-nav {
    align-items: center; }
    .navbar .navbar-nav .nav-link {
      margin: 0 10px;
      font-family: "Oswald";
      font-size: 16px;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 400; }
  .navbar .dropdown-menu {
    top: 78px; }
    .navbar .dropdown-menu .dropdown-item {
      font-family: "Oswald";
      font-size: 16px;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 400; }
      .navbar .dropdown-menu .dropdown-item:not(:first-child) {
        margin-top: 15px; }

#login {
  height: 100vh;
  display: flex;
  align-items: center; }
  #login form {
    width: 400px;
    padding: 25px;
    margin: 0 auto;
    background-color: #0D0D0D;
    border-radius: 4px;
    z-index: 99; }

#home {
  height: calc(100vh - 125px);
  display: flex;
  align-items: center; }

#profile {
  padding-top: 100px;
  padding-bottom: 100px; }

#footer {
  color: #c2c2c2;
  font-family: "Source Code Pro";
  font-size: 13px; }
  #footer li:not(:last-child)::after {
    content: '|';
    margin: 0 5px;
    color: #c2c2c2; }

/* modules */
.btn {
  width: 100%;
  color: #0D0D0D;
  font-family: "Oswald";
  font-weight: 500;
  text-transform: uppercase; }

.form-control {
  border: 0;
  border-bottom: 1px solid #9f8b45; }
  .form-control:disabled {
    padding: 0;
    color: #c2c2c2;
    border-bottom: 0; }

label {
  color: #c2c2c2;
  font-family: "Oswald";
  text-transform: uppercase;
  letter-spacing: 1px; }

#newsCarousel {
  margin-bottom: 10px; }
  #newsCarousel .carousel-inner {
    padding: 18px 0; }
  #newsCarousel p {
    margin: 0;
    color: #c2c2c2;
    font-family: "Oswald";
    font-size: 18px; }

#carousel .carousel-item {
  height: 600px; }

#carousel .carousel-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: 100%;
  background-position: 50%;
  background-repeat: no-repeat; }
  #carousel .carousel-bg::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(39, 39, 32, 0.6);
    z-index: 1; }
  #carousel .carousel-bg.slide-1 {
    background-image: url("../img/home/slider/slider-1.jpg"); }
  #carousel .carousel-bg.slide-2 {
    background-image: url("../img/home/slider/slider-2.jpg"); }
  #carousel .carousel-bg.slide-3 {
    background-image: url("../img/home/slider/slider-3.jpg"); }
  #carousel .carousel-bg.slide-4 {
    background-image: url("../img/home/slider/slider-4.jpg"); }
  #carousel .carousel-bg.slide-5 {
    background-image: url("../img/home/slider/slider-5.jpeg"); }

#carousel .carousel-text {
  max-width: 21em;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  font-family: 'Bitter', serif;
  font-size: 26px;
  line-height: 1.7em;
  text-transform: none;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  z-index: 10; }

.card {
  margin-bottom: 10px;
  overflow: hidden; }
  .card * {
    transition: all .8s; }
  .card.card-bg-home {
    height: 187px; }
    .card.card-bg-home:hover {
      cursor: pointer; }
      .card.card-bg-home:hover .bg-img {
        transform: scale(1.1); }
      .card.card-bg-home:hover .card-caption {
        color: #c2c2c2; }
  .card .card-text, .card .card-title {
    font-family: "Oswald";
    color: #c2c2c2; }
  .card .card-title {
    font-size: 18px; }
  .card .card-text {
    font-size: 15px; }
    .card .card-text:not(:last-child) {
      margin-bottom: 4px; }
  .card .card-caption {
    margin: 0;
    padding: 5px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: "Oswald";
    font-size: 16px;
    color: #9f8b45;
    background-color: rgba(13, 13, 13, 0.85);
    text-align: center; }
  .card .card-avatar {
    height: 100px;
    width: 80px; }
  .card .card-grade {
    height: 32px;
    width: auto; }
