.card {
	margin-bottom: 10px;
	overflow: hidden;
	* {
		transition: all .8s;
	}
	&.card-bg-home {
		height: 187px;
		&:hover {
			cursor: pointer;
			.bg-img {
				transform: scale(1.1);
			}
			.card-caption {
				color: $gray-100;
			}
		}
	}
	.card-text, .card-title {
		font-family: $font-primary;
		color: $gray-100;
	}
	.card-title {
		font-size: 18px;
	}
	.card-text {
		font-size: 15px;
		&:not(:last-child) {
			margin-bottom: 4px;
		}
	}
	.card-caption {
		margin: 0;
		padding: 5px 0;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		font-family: $font-primary;
		font-size: 16px;
		color: $primary;
		background-color: rgba($dark, .85);
		text-align: center;
	}
	.card-avatar {
		height: 100px;
		width: 80px;
	}
	.card-grade {
		height: 32px;
		width: auto;
	}
}