.navbar {
	height: $navbar-height;
	z-index: 999;
	.navbar-brand {
		margin: 0 20px;
		width: 180px;
		height: auto;
	}
	.navbar-collapse {
		justify-content: center;
	}
	.navbar-nav {
		align-items: center;
		.nav-link {
			margin: 0 10px;
			font-family: $font-primary;
			font-size: 16px;
			text-transform: uppercase;
			letter-spacing: 2px;
			font-weight: 400;
		}
	}
	.dropdown-menu {
		top: 78px;
		.dropdown-item {
			font-family: $font-primary;
			font-size: 16px;
			text-transform: uppercase;
			letter-spacing: 2px;
			font-weight: 400;
			&:not(:first-child) {
				margin-top: 15px;
			}
		}
	}
}